* {
  margin: 0px;
  padding: 0px;
  text-align: center;
  box-sizing: border-box;
}

:root {
  --Text: rgb(195, 195, 195);
  --Background: rgb(52, 52, 52);
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: var(--Background);
  color: var(--Text);
}
.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
H1 {
  margin: 30px auto;
}
.name {
  margin-inline: 20px;
}
#fname,
#lname,
#username,
#password,
#email {
  width: 30%;
  padding: 12px 20px;
  border-radius: 4px;
  border: none;
  border-right: 2px solid purple;
  border-bottom: 2px solid purple;
  margin-bottom: 40px;
  margin-top: 20px;
  caret-color: rgb(255, 0, 187);
}

input[type="text"] {
  border: 3px solid #555;
}

#message {
  margin-bottom: 40px;
  margin-top: 20px;
  min-width: 400px;
  min-height: 150px;
}

textarea {
  resize: none;
}

#color-selector {
  margin-bottom: 40px;
}

fieldset {
  margin-bottom: 40px;
  margin-top: 20px;
}

legend {
  background-color: gray;
  color: white;
  padding: 5px 10px;
}

#favcolor,
#Birthday,
#myfile,
#bdaymonth,
#quantity,
#vol,
#appt,
#homeepage {
  margin-bottom: 40px;
  margin-top: 20px;
}
