.body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.H1 {
  text-align: center;
  margin: 30px auto;
  background-color: brown;
  color: blue;
}
