* {
  text-align: center;
  box-sizing: border-box;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: #8ecae6;
  margin: 50px;
}

.input {
  width: 100%;
  border-radius: 4px;
  border: 2px solid black;
  margin-bottom: 20px;
  background-image: url(images/brua.jpg);
  background-position: center;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  color: white;
  text-shadow: black 1px 1px 3px;
}

H1 {
  margin: 30px auto;
}
.name {
  width: 100%;
  border-radius: 4px;
  border-bottom: 2px solid orange;
  margin-bottom: 20px;
}

#fname,
#lname,
#username,
#password,
#email {
  width: 100%;
  padding: 12px 20px;
  border-radius: 4px;
  border: none;
  border-right: 2px solid purple;
  border-bottom: 2px solid purple;
  margin-bottom: 40px;
  margin-top: 20px;
  caret-color: rgb(255, 0, 187);
}

input[type="text"] {
  border: 3px solid #555;
}

#gserarch {
  color: black;
}
